<%- include("partials/header.ejs") %>

    <div class="container mt-5">
        <h1 class="text-center mb-5 display-4"> Famous Quotes - Admin Section </h1>
        <div class="header-underline"></div>

        <div class="row justify-content-center g-4">
            <div class="col-6 col-md-3">
                <a href="/authors" class="btn btn-admin w-100">View Authors</a>
            </div>

            <div class="col-6 col-md-3">
                <a href="/author/new" class="btn btn-admin w-100">Add Author</a>
            </div>
            
            <div class="col-6 col-md-3">
                <a href="/quotes" class="btn btn-admin w-100">View Quotes</a>
            </div>

            <div class="col-6 col-md-3">
                <a href="/quote/new" class="btn btn-admin w-100">Add Quote</a>
            </div>
        </div>
   </div>

<%- include("partials/footer.ejs") %>